{% extends 'base.html' %}

{% block content %}

<main class="container-fluid pt-4 px-4">
    <section class="container-fluid pt-4 px-4">
        <div class="container-fluid pt-4 px-4">
            <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
                <div class="col-md-6 text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis rem quidem soluta voluptatibus nihil, repudiandae temporibus aspernatur iure rerum iste culpa deleniti aliquid hic, ut blanditiis at a nulla impedit. Oswaldo Lazaro Flores
                    </p>
                    <div class="text-center">
                        <a class="btn btn-secundary" href="/signin/">
                        Iniciar Sesion
                        </a>
                        <a class="btn btn-dark" href="/signup/">
                        Resgistrarse
                        </a >
                    </div>
                
                </div>
            </div>
        </div>
    </section>

</main>





{% endblock %}

